@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
:root{
    --main-color: #207178;
}
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    z-index: 1111;
    transform: .5s ease-in-out;
}
header .logo img{
    width: 40px;
    margin-top: -5px;
    padding-left: 5px;
}
header .logo a{
    font-size: 35px;
    font-family: 'Fenix',serif;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}
header ul{
    display: flex;
    margin: 0;
}
header ul li{
    margin: 0px 15px;
    color: var(--main-color);
}
header ul li a{
    text-decoration: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transform: 4s;
}
header.active ul li a{
    text-decoration: none;
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    transform: 4s;
}
header ul li a:hover{
    color: pink;
}
header .bars{
    display: none;
}
header .bars img{
    width: 30px;
}

header.active{
    background: #fff;
    box-shadow: 1px 0px 0px #DDD;
}
header.active .bars img{
    padding: 4px 5px;
    color: var(--main-color);
    background: var(--main-color);
    width: 33px;
    border-radius: 3px;
}
header.active .logo a {
    color: var(--main-color);
}
@media(max-width:991px){
    header .navigation{
        position: absolute;
        top: 70px;
        right: -50%;
        width: 30%;
        height: 100v;
        background:#fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
        box-shadow: -1px 0px,0px,#DDD;
    }
    header .navigation li{
        margin: 11px 0px;
    }
    header .bars{
        display: block;
    }
    
}
.big-bg{
    background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url("picture/furniture-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}.big-bg .bg-content{
    color: #fff;
}.big-bg .bg-content h1{
    font-size: 60px;
}
.big-bg .bg-content hr{
    background: #fff;
    height: 1px;
    width: 50%;
    margin: 15px auto;
}
.big-bg .bg-content .bg-link{
    margin-top: 15px;
}
.bg-content .bg-link a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    text-transform: capitalize;
    padding: 10px 20px;
    border: 2px solid #fff;
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.bg-link a::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--main-color);
    width: 100%;
    height: 100%;
    transition: .3s ease-in-out;
    z-index: -1;
}
.bg-link a:hover::before{
    left:0%;

}
@media(max-width: 360px){
    .big-bg{
        width: 122%;
        height: 100vh;
    }
    .big-bg .bg-content h1{
        font-size: 30px;
    }
}
.big-collection{
    width: 100%;
    margin: 80px auto;
}
.big-collection .collection-flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-row-gap: 10px;
}
.big-collection .collection-flex .collect{
    margin: 0px 10px;
    text-align: center;
}
.big-collection .collection-flex .link{
    margin-top: 20px;

}
.collection-flex .link a{
    text-decoration: none;
    color: var(--main-color);
    text-transform: capitalize;
    position: relative;
    display: inline-block;
}
.big-collection .collection-flex .collect .image{
    background-color:#DDD;
    
}

.collection-flex .link a::before{
    content: "";
    position: absolute;
    background: var(--main-color);
    top: 23px;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scale(0);
    transition: .4s ease-in-out;
}
.collection-flex .collect:hover .link a::before{

 transform: scale(1);
}
.collection-flex .collect .image{
    position: relative;

}
.collection-flex .collect .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 3px solid transparent;
}
.collection-flex .collect:hover .image::before{
    animation: animatel .5s linear forwards;
}

@keyframes animatel {
    0%{
        width: 0;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50%{
        width: 100%;
        height: 0;
        border-top-color: var(--main-color);
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: var(--main-color);
        border-right-color:var(--main-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
}
.collection-flex .collect .image{
    position: relative;
} 
.collect .image img{
    height: 250px;
    width: 190px;
}
.collection-flex .collect .image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 3px solid transparent;
}
@media(max-width: 768px){
    .collection-flex .collect .image{
     width:calc(100%3);
    }
}
@media(max-width: 576px){
    .collection-flex .collect{
        display: grid;
        grid-template-columns: 2fr;
        flex-basis: 100%/2;
    }
}
@media(max-width: 360px){
    .collect{
        display: grid;
        grid-template-columns: 1fr;
        flex-basis: 110%;
    }
    .collect .image img{
        width: 100%;
    }
    .big-collection{
        width: 120%;
        margin-left: 1.5%;
    }
}
.collection-flex .collect:hover .image::after{
    animation: animatel2 .5s linear forwards;
}
@keyframes animatel2{
    0%{
        width: 0;
        height: 0;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    50%{
        width: 0;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: var(--main-color);
    }
    100%{
        width: 100%;
        height: 100%;
        border-top-color: transparent;
        border-right-color: transparent;
        border-left-color: var(--main-color);
        border-bottom-color: var(--main-color);
    }
}
.big-shop{
    width: 90%;
    margin: 70px auto;
}
.big-shop .shop-title{
    margin-bottom: 50px;
    text-align: center;

}
.big-shop .shop-title h2{
    font-weight: 700;
    font-family: 'Fenix',serif;
}
.big-shop .shop-title p{
    font-size: 15px;
}
.big-shop .shop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.shop-flex .shop-one{
    width: 26%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.shop-flex .shop-one img{
    width: 100%;   
}
.shop-flex .shop-one .image-one{
    margin-bottom: 20px;
    position: relative;
}
.shop-three{
    width: 45%;
}
.shop-three img{
    width: 100%;
}
.shop-one .overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,.3);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: .5s ease-in-out;
}
.shop-one .overly section{
    font-size: 15px;   
}
.shop-one .overly h3{
    margin-bottom: 10px;
}
.shop-one .overly span{
    color: #4abcc4;
}
.shop-one .overly .link{
    position: absolute;
    bottom: 30px;
}
.shop-one .overly .link a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    overflow: hidden;
}
.overly .link .i{
    vertical-align: middle;
}
.overly .link a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: .5s ease-in-out;
}
.overly .link a:hover::before{
    left: 0;
}
.shop-one .image-one:hover .link{
    animation: linking .8s ease-in-out forwards;
}
.shop-one .image-one:hover .overly{
    visibility: visible;
}
.shop-flex .shop-three{
    position: relative;
    height: 100%;
}
.shop-three .overly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding: 0px 20px;
    color: #fff;
    visibility: hidden;
    transition: .5s ease-in-out;
}
.shop-three:hover .link{
    animation: linking .8s ease-in-out forwards;
}
.shop-three:hover .overly{
    visibility: visible;
}
.shop-three .overly span{
    color: #4abcc4;
}
.shop-three .overly .link a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    overflow: hidden;
}
.shop-three .overly .link{
    position: absolute;
    bottom: 30px;
}
.shop-three:hover .txt{
    animation: header .8s ease-in-out forwards;
}
.shop-threes .txt{
    animation: header2 .8s ease-in-out forwards;
}
@keyframes linking{
    0%{
        opacity: 0;
        bottom: 0px;
    }
    100%{
        opacity: 1;
        bottom: 30px;
    }
}
.shop-one .image-one:hover .txt{
    animation: header .8s ease-in-out forwards;
}
@keyframes header{
    0%{
        opacity: 0;
        margin-bottom: 70px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}
.shop-one .image-one .txt{
    animation: header2 .8s ease-in-out forwards;
}
@keyframes header2{
    0%{
        opacity: 1;
        margin-bottom: 0px;
    }
    100%{
        opacity: 0;
        margin-bottom: 70px;
    }
}
@media(max-width:991px){
    .shop-flex .shop-one{
        width: 49%;
    }
    .shop-flex .shop-three{
        width: 100%;
    }
}
@media(max-width:570px){
    .shop-flex .shop-one{
        width: 100%;
    }
}
@media(max-width: 360px){
    .big-shop{
        width: 114%;
        margin-left: 4% ;
    }
}
.big-product{
    width: 90%;
    margin: -50px auto;
}
.big-product .product-title{
    margin-bottom: 50px;
    text-align:center;   
}
.big-product .product-title p{
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 15px;
}
.big-product .product-title h2{
    font-weight: 600;
}
.big-product .product-title hr{
    width: 120px;
    margin: 14px auto;
    background: grey;
}
.big-product .product-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-flex .product-one{
    width: 24%;  
}
.product-flex .product-one img{
    width: 100%; 
}
.product-flex .product-one .product-image{
    position: relative;
}
.product-one .product-image .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:  opacity .4s ease-in-out;
}
.product-image .overlay i{
    margin: 0px 5px;
    padding: 5px;
    border: 1px solid #000;
    font-size: 13px;
    cursor: pointer;
    opacity: 0;
}
.product-one:hover .product-image .overlay i{
    animation: product-icon .5s ease-in-out forwards;
}
.product-one:hover .overlay i:nth-child(2){
    animation-delay: .2s;
}
.product-one:hover .overlay i:nth-child(3){
    animation-delay: .4s;
}
.product-one:hover .overlay{
    opacity: 1;
}
.product-one .product-image{
    margin-bottom: 10px;
}
@keyframes product-icon{
    
    0%{
        opacity: 0;
        margin-bottom: 50px;
    }100%{
        opacity: 1;
        margin-bottom: 0px;
    }
}
.product-one .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-one .content h4{
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
.product-one .content section{
    font-size: 14px;
    font-weight: 600;
}
.product-one article{
    text-transform: uppercase;
    font-size: 14px;
}
@media(max-width: 991px){
    .big-product .product-one{
        width: 32%;
    }
    
}
@media(max-width: 768px){
    .big-product .product-one{
        width: 49%;
    }
}

@media(max-width: 576px){
    .big-product .product-one{
        width: 100%;
    }
    .big-product .product-title h2{
        font-size: 19px;
    }
    .big-product .product-title hr{
        width: 100px;
    }
}

@media(max-width:360px){
    .big-product{
        width: 114%;
        margin-left: 4% ;
        
    }
}
.big-furn{
    width: 90%;
    margin: 100px auto;
}
.big-furn .furn-title{
    text-align: center;
    margin-bottom: 30px;
}
.big-furn .furn-title h2{
    font-weight: 600;

}
.big-part {
    text-align: center;
    position: relative;
}
.big-part img{
    width: 75%;
}
.big-part .text-inside{
    position: absolute;
    top: 50%;
    left: 27%;  
}
.big-part .text-inside .plus{
    width: 35px;
    padding: 10px;
    background: var(--main-color);
    transition: .2s;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 160px;
}
.text-inside .plus.img_active{
    transform: rotate(45deg);
}
.text-inside .text-box{
    width: 320px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    text-align: left;
    transform: scale(0);
    transition: .5s;
}
.text-inside .text-box.active{
    transform: scale(1);
}
.text-inside .text-box img{
    width: 100px;
    margin-left: 10px;

}
.text-inside .text-box h5{
    font-size: 17px;
    margin-left: 10px;
    text-transform: capitalize;
}
.text-inside .text-box p{
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 7px;
}
.text-inside .text-box a{
    margin-left: 10px;
    text-decoration: none;
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 14px
}
@media(max-width:991px){
    .big-part img{
        width: 100%;
    }
}
@media(max-width:360px){
    .big-furn {
        width: 114%;
        margin-left: 4% ;
    }
    .text-box{
        width: 150px;
        margin-left: -25px;
    }

}
.bg-show{
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(picture/download3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 300px 0px;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-show .link{
    width: 200px;
    height: 200px;
    border: 1px solid #f9f9f9;
    line-height: 200px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.bg-show .link:hover{
    border-color: rgb(153, 153, 153);
}
.bg-show .link a{
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    margin-left: 70px;
    transition: .2s ease-in-out;
    color: #fff;
}
.bg-show .link img{
    width: 2.2rem;
    vertical-align: middle;
    margin-left: -5px;
}
.bg-show .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 111;
}
.bg-show .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bg-show .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}
.bg-show .image .cancel{
    position: absolute;
    top: -5%;
    right: 0;
    width: 27px;
    cursor: pointer;
}
.bg-show .image .bg-player{
    position: absolute;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
    width: 35px;
}
.bg-show .bg-player img{
    width: 35px;
}
.bg-show .image video{
    width: 100%;
}
.bg-show .image{
    animation: video 1s ease-in-out forwards;
}
@keyframes video{
    0%{
        opacity: 0;
        top: 20%;
    }
    100%{
        opacity: 1;
        top: 50%;
    }
}
@media(max-widht: 992px){
    .bg-show .image video{
     width: 700px;
}
}
@media(max-width: 991px){
    .bg-show .image video{
        width: 600px;
   }
}
@media(max-widht: 760px){
    .bg-show .image video{
     width: 450px;
}
}
@media(max-width: 576px){
    .bg-show .image video{
        width: 400px;
   }
}
@media(max-width: 360px){
    .bg-show{
        width: 122%;
    }

    .bg-show .image video{
        width: 400px;
   }
}
.bg-team{
    width: 100%;
    padding: 100px 0px;
    margin: 100px 0px;
    background: var(--main-color);
    max-height: 500px;
}
.bg-team .team-title{
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
}
.team-title section{
    text-transform: uppercase;
    font-size: 12px;
}
.team-title h2{
    font-size: 600;
}
.team-title hr{
    margin: 10px auto;
    width: 110px;
    background: #fff;
}
.bg-team .team-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}
.team-flex .team-one{
    width: 32%;
}
.team-flex .team-one img{
    width: 100%;
}
.team-flex .team-one h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-top: 10px;
}
@media(max-width:991px){
    .team-flex .team-one h4{
        font-size: 19px;  
    }
}
@media(max-width:768px){
    .team-flex .team-one h4{
        font-size: 18px;  
    }
}
@media(max-width:360px){
    .bg-team{
        width: 122%;
    }
}
.footer-image{
    margin-top: 17%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 220px 50px 50px 50px;
}
.footer-image .image1{
    width: 16%;
    position: relative;
}
.footer-image .image1 img{
    width: 100%;
}
.footer-image .insta{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s ease-in-out;
    opacity: 0;
}
.footer-image .insta img{
    width: 30px;
    cursor: pointer;
}
.footer-image .image1:hover .insta{
    opacity: 1;
}
.footer-image .image1:hover .insta img{
    animation: instagram .5s ease-in-out forwards;
    height: 100px;
    width: 100px;
}
@keyframes instagram{
    0%{
        opacity: 0;
        margin-bottom: 30px;
    }
    100%{
        opacity: 1;
        margin-bottom: 0px;
    }
    
}
@media(max-width: 420px){
    .footer-image .image1{
        display: grid;
        grid-template-columns: 1fr;
        flex-basis: 100%;
    }
    .footer-image{
        width: 114%;
        margin-left: 4% ;
    }
    .footer-image .image1 img{
        margin-bottom: 10px;
    }
}
.bg-footer{
    width: 90%;
    margin: 50px auto;

}
.bg-footer .footer-flex{
    display: flex;
    justify-content: space-between;
    grid-row-gap: 20px;
    flex-wrap: wrap;
}
.bg-footer .footer-flex .footer1{
    width: 24%;
}
.footer-flex .footer1 h2{
    font-weight: 600px;
    font-size: 19px;
    text-transform: capitalize;
}
.footer-flex .footer1 section{
    font-size: 14px;
}
.footer-flex .footer1 li{
    font-size: 14px;
}
.footer-flex .footer1 li a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}
.footer-logo{
    margin-top: 30px;
    display:inline-flex;
    justify-content: space-between;
    gap: 10px;
}
.footer-logo img{
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
}
.bg-footer hr{
    background: #f9f9f9;
    margin: 15px 0px;
    height: 1px;
    width: 100%;
}
.bg-footer .copy{
    text-align: center;
}
.bg-footer .copy section{
    font-size: 14px;
    text-transform: capitalize;
}
@media(max-width: 768px){
    .bg-footer .footer-flex .footer1{
        width: 49%;
    }
}
@media(max-width: 576px){
    .bg-footer .footer-flex .footer1{
        width: 100%;
    }
}
.top{
    position: fixed;
    bottom: 10px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    z-index: 122;
    border: 1px solid #000;
    border-radius: 50%;
    transition: .4s ease-in-out;
    cursor: pointer;
}
.top i{
    font-size: 20px;
    vertical-align: middle;
}
.top:hover{
    background: var(--main-color);
    box-shadow: 0px 0px 1px 1px var(--main-color);
    border-color: #f9f9f9;
    columns: #fff;
}

.footer-end{
   background: #4abcc4;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}
.footer-end-logo i{
    font-size: 25px;
}
.footer-end-logo p{
    text-align: center;
    margin-left: -5px;
    margin-bottom: -0px;
}
@media(max-width: 360px){
    .footer-end{
        display: flex;
    }
    .top{
        margin-bottom: 85px;
    }
    .copy{
        padding-bottom: 40px;
    }
}
