@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-color: #207178;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: #207178;
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1111;
    transform: .5s ease-in-out;
}

header .logo img {
    width: 40px;
    margin-top: -5px;
    padding-left: 5px;
}

header .logo a {
    font-size: 35px;
    font-family: 'Fenix', serif;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

header ul {
    display: flex;
    margin: 0;
}

header ul li {
    margin: 0px 15px;
    color: var(--main-color);
}

header ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transform: 4s;
}

header.active ul li a {
    text-decoration: none;
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    transform: 4s;
}

header ul li a:hover {
    color: pink;
}

header .bars {
    display: none;
}

header .bars img {
    width: 30px;
}

header.active {
    background: #fff;
    box-shadow: 1px 0px 0px #DDD;
}

header.active .bars img {
    padding: 4px 5px;
    color: var(--main-color);
    background: var(--main-color);
    width: 33px;
    border-radius: 3px;
}

header.active .logo a {
    color: var(--main-color);
}

@media(max-width:360px) {
    header .navigation {
        position: absolute;
        top: 70px;
        right: -50%;
        width: 30%;
        height: 100v;
        background: #fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
        box-shadow: -1px 0px, 0px, #DDD;
    }

    header .navigation li {
        margin: 11px 0px;
    }

    header .bars {
        display: block;
    }

}
.container{
    background-color:beige;
    width: 100%;
    height: 100vh;
}
.bg-picture{
    margin-left: 200px;
    margin-top: 70px;
}
.container .bg-picture img{
    width: 80%;
    height: 85vh;
    border-radius: 5px;
    margin-top: 15px;  
}
h3{
    font-size: 25px;
    margin-top: -490px;
    margin-left: 38%;
    font-family: Yu Gothic Medium;
}
p{
    font-size: 20px;
    margin-left: 26%;
    margin-bottom: 100px;

}
label{
    font-size: 14px;
    margin-left: 26%;
    color:rgb(140, 137, 137);
}
.text{
    background-color:rgba(219, 219, 216, 0.114);
    width: 460px;
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 26%;
    border-left: none;
    border-right: none;
    border-top: none;
}
.terms p{
    font-size: 14px;
    margin-top: 20px;
    color:rgb(140, 137, 137);

}
.terms p a{
    text-decoration: none;
    color: blue;
}
.btn{
    margin-top: -80px;
    margin-left: 275px;
}
.btn button{
    width: 460px;
    height: 30px;
    background: rgba(195, 101, 101, 0.886);
    color: #fff;
    font-weight:bold;
    border: none;
    margin-bottom: 60px;
}
.btn2{
    margin-top: -50px;
    margin-left: 275px;
}
.btn2 button{
    font-size: 20px;
    width: 460px;
    height: 30px;
    background:#fff;
    color: #fff;
    font-weight:bold;
    border: none;  
}.btn2 button a{
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}
@media(max-width: 360px){
    .container{
        width: 1100px;
        height: 200vh;
    }
    .container .bg-picture img{
        margin-top: 150px;
        margin-left: -150px;
        width: 1000px;
        height: 125vh;
    }
    h3{
        margin-top: -900px;
        font-size: 50px;
    }
    p{
        font-size: 30px;
    }
    label{
        font-size: 30px;
        color:rgba(0, 0, 0, 0.58);
    }
    .text{
        height: 60px;
        width: 600px;
    }
    .terms p{
        font-size: 25px;
        margin-top: 40px;
    }
    .btn{
        margin-top: -50px;
        margin-left: 230px;
    }
    .btn button{
        width: 600px;
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 140px;
    }
    .new-account a{
        font-size: 30px;
        margin-left: 270px;
        font-weight: bold;
    }
    
}


.footer-end {
    background: #4abcc4;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
}

.footer-end-logo i {
    font-size: 20px;
    margin-left: -10;
}

.footer-end-logo p {
    font-size: 15px;
    margin-left: -5px;
    margin-bottom: -10px;
}

.footer-end-logo #catagories{
    margin-left: 15px;
}
.footer-end-logo #notification{
    margin-left: 22px;
}
.footer-end-logo #account{
    margin-left: 12px;
}
.footer-end-logo #cart{
    margin-left: -5px;
}

@media(max-width: 360px) {
    .footer-end {
        display: flex;
    }

    .top {
        margin-bottom: 80px;
    }

    .copy {
        padding-bottom: 40px;
    }
}