@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --main-color: #207178;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: #207178;
    width: 100%;
    padding: 15px 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1111;
    transform: .5s ease-in-out;
}

header .logo img {
    width: 40px;
    margin-top: -5px;
    padding-left: 5px;
}

header .logo a {
    font-size: 35px;
    font-family: 'Fenix', serif;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

header ul {
    display: flex;
    margin: 0;
}

header ul li {
    margin: 0px 15px;
    color: var(--main-color);
}

header ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transform: 4s;
}

header.active ul li a {
    text-decoration: none;
    display: block;
    color: var(--main-color);
    text-transform: uppercase;
    transform: 4s;
}

header ul li a:hover {
    color: pink;
}

header .bars {
    display: none;
}

header .bars img {
    width: 30px;
}

header.active {
    background: #fff;
    box-shadow: 1px 0px 0px #DDD;
}

header.active .bars img {
    padding: 4px 5px;
    color: var(--main-color);
    background: var(--main-color);
    width: 33px;
    border-radius: 3px;
}

header.active .logo a {
    color: var(--main-color);
}

@media(max-width:360px) {
    header .navigation {
        position: absolute;
        top: 70px;
        right: -50%;
        width: 30%;
        height: 100v;
        background: #fff;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: .5s ease-in-out;
        box-shadow: -1px 0px, 0px, #DDD;
    }

    header .navigation li {
        margin: 11px 0px;
    }

    header .bars {
        display: block;
    }

}

.sign-header{
    background-color: blue;
    display: none;
    width: 100%;
    height: 10vh;
}
.sign-header h1{
    color: #fff;
    text-align: center;
    margin-top: -33px;
}.sign-header img{
    color: #fff;
    height: 20px;
    margin-top: 22px;
    margin-left: 15px;
}
.log-in{
    display: none;
    width: 100%;
    height: 90vh;
    background-color: white;
}.log-in h2{
    color: rgba(0, 0, 0, 0.838);
   padding-top: 45px;
   margin-left: 20px;
   font-size: 22px;
}.log-in p{
    font-size: 18px;
    margin-left: 20px;
    margin-top: 30px;
    color:darkgray;
}
fieldset{
    margin-top: -80px;
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    border-color: blue;
    border-radius: 5px;
    border-width: 3px;
    margin-bottom: 15px;
}
legend{
    margin-left: 10px;
    font-size: 20px;
}
.log-in a{
   margin-left: 218px;
   font-size: 20px;
   text-decoration: none;
   color: blue;
   font-weight: bolder;
   
}
.term-condition p{
    font-size: 18px;
    margin-left: 20px;
    color: black;
    line-height: 1.5;
}
.term-condition p a{
    font-size: 18px;
    margin-left: -3px;
}
span{
    font-size: 18px;
    margin-left: 5px;
    margin-right: 7px;
}
.btn5{
    box-shadow: 2px 2px black;
    background-color: aliceblue;
    width: 100%;
    height: 8vh;
    margin-top: 284px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.886);
  }
  .btn5 button{
    margin-top: 12px;
    width: 95%;
    height: 40px;
    background-color: darkgray;
    border: none;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 360px) {
    .sign-header{
        display: block;
    }
    .log-in{
        display: block;
    }
    input{
        border: none;
        width: 100%;
        margin-top: -5px;
        height: 40px;
        font-size: 25px;
        &:focus{
            outline: none;
        } 
    }
}

.container {
    background-color: #fff;
    width: 100%;
    height: 100vh;
}

.container img {
    width: 60%;
    height: 75vh;
    margin-top: 90px;
    margin-left: 250px;
    border-radius: 5px;
}

h3 {
    font-size: 25px;
    margin-top: -450px;
    margin-left: 50%;
    font-family: Yu Gothic Medium;
}

p {
    font-size: 20px;
    margin-left: 40%;
    margin-bottom: 100px;

}

label {
    font-size: 16px;
    margin-left: 40%;
    color: rgb(140, 137, 137);
}

.text1{
    background-color: rgba(219, 219, 216, 0.114);
    width: 460px;
    height: 30px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 40%;
    border-left: none;
    border-right: none;
    border-top: none;
    &:focus {
        color: black;
    }
  }

.terms p {
    font-size: 14px;
    margin-top: 20px;
    color: rgb(140, 137, 137);

}

.terms p a {
    text-decoration: none;
    color: blue;
}

.btn {
    margin-top: -80px;
    margin-left: 40%;
}

.btn button {
    width: 460px;
    height: 30px;
    background: rgba(195, 101, 101, 0.886);
    color: #fff;
    font-weight: bold;
    border: none;
    margin-bottom: 60px;
}

.btn2 {
    margin-top: -50px;
    margin-left: 40%;
}

.btn2 button {
    font-size: 20px;
    width: 460px;
    height: 30px;
    background: #fff;
    color: #fff;
    font-weight: bold;
    border: none;
}

.btn2 button a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}
